 <!-- Main Footer -->
  <footer class="main-footer">
    <!-- To the right -->
    <div class="float-right d-none d-sm-inline">
      Anything you want
    </div>
    <!-- Default to the left -->
    <i class="fab fa-github"></i> <a href="https://git.gft.com/posm">Clique aqui para meu GitLab</a>
  </footer>