@model Desafio.DTO.ProgramaStarterDTO
@{
    ViewData["Title"] = "Novo programa";
}
  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Iniciar uma nova turma de Starters</h1>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->
    <form asp-controller="Programa" asp-action="Atualizar">
        <input type="hidden" asp-for="Id">

        <label asp-for="Turma">Nº da turma</label>
        <input class="form-control" type="number" asp-for="Turma" placeholder="Número da turma">
        <span asp-validation-for="Turma"></span><br>

        <div class="form-row">
            <div class="col">
                <label asp-for="Inicio">Data de inicio</label>
                <input class="form-control" type="date" asp-for="Inicio" placeholder="Data de Inicio da turma">
                <span asp-validation-for="Inicio"></span><br>
            </div>

            <div class="col">
                <label asp-for="Fim">Final</label>
                <input class="form-control" type="date" asp-for="Fim" placeholder="Data que a turma se formará">
                <span asp-validation-for="Inicio"></span><br>
            </div>
        </div>
        <button class="btn btn-success">Atualizar</button>
    </form>
    <hr>
    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Control Sidebar -->
  <aside class="control-sidebar control-sidebar-dark">
    <!-- Control sidebar content goes here -->
    <div class="p-3">
      <h5>Title</h5>
      <p>Sidebar content</p>
    </div>
</aside>
<!-- /.control-sidebar -->